[submodule "Tests/Libs/googletest"]
	path = Tests/Libs/googletest
	url = https://github.com/google/googletest.git
	branch = develop

[submodule "Tests/Libs/matplotlib-cpp"]
	path = Tests/Libs/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
